Repository zachatkinson/drivehr-netlify-sync: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

refactor: Remove unnecessary genhtml HTML report generation from CI
  .github/workflows/ci.yml
Due: prettier --write

feat: Replace individual Codecov uploads with single aggregated coverage upload
  .github/workflows/ci.yml
Due: prettier --write

fix: Disable Codecov file search to upload only merged coverage file
  .github/workflows/ci.yml
Due: prettier --write

fix: Upgrade to codecov-action@v5 to resolve path mismatch issues
  .github/workflows/ci.yml
Due: prettier --write

feat: Upgrade all Codecov actions to latest versions
  .github/workflows/ci.yml
Due: prettier --write

fix: Update codecov-action parameter from 'file' to 'files' for v5.5.0 compatibility
  .github/workflows/ci.yml
Due: prettier --write

fix: Add root_dir parameter to codecov-action for proper path resolution
  .github/workflows/ci.yml
Due: prettier --write

feat: Switch back to individual coverage uploads per matrix job
  .github/workflows/ci.yml
Due: prettier --write

docs: Complete comprehensive documentation rewrite to reflect finalized implementation
  ARCHITECTURE.md
  DEPLOYMENT.md
  README.md
  docs/api-specification.yaml
  docs/deployment-runbook.md
Due: prettier --write

fix: Correct WordPress webhook endpoint URL format and add CLAUDE.md standards
  CLAUDE.md
  DEPLOYMENT.md
Due: prettier --write

fix: Standardize WordPress webhook endpoint URL format across entire codebase
  .github/workflows/scrape-jobs.yml
  DEPLOYMENT.md
  codecov-debug/aggregated-coverage/merged.info
  codecov-debug/coverage-summary.md
  src/scripts/scrape-and-sync.ts
  src/types/api.ts
  test/lib/config.test.ts
  test/lib/env.test.ts
  test/services/wordpress-client.test.ts
  test/shared/base-test-utils.ts
Due: eslint --fix, prettier --write

fix: Update test regex to match new WordPress webhook URL format
  test/lib/env.test.ts
Due: none

fix: Update CI configuration to discover refactored job fetcher test files
  .github/workflows/ci.yml
Due: prettier --write

refactor: Complete modular refactoring of job fetcher god class into focused components
  src/lib/config.ts
  src/lib/telemetry-strategy.ts
  src/services/html-parser.ts
  src/services/job-fetcher.ts
  src/services/job-fetcher/fetch-operations.ts
  src/services/job-fetcher/html-strategy.ts
  src/services/job-fetcher/index.ts
  src/services/job-fetcher/job-fetch-service.ts
  src/services/job-fetcher/job-normalizer.ts
  src/services/job-fetcher/telemetry.ts
  src/services/job-fetcher/types.ts
  src/services/wordpress-client.ts
  test/services/job-fetcher.test.ts
  test/services/job-fetcher/html-strategy.test.ts
  test/services/job-fetcher/index.test.ts
  test/services/job-fetcher/integration.test.ts
  test/services/job-fetcher/job-fetch-service.test.ts
  test/services/job-fetcher/shared-test-utils.ts
Due: eslint --fix, prettier --write

fix: Resolve CI test discovery issue by using directory path instead of glob pattern
  .github/workflows/ci.yml
Due: prettier --write

docs: Update README with refactoring completion timestamp
  README.md
Due: prettier --write

docs: Update README formatting and enhance project badges
  README.md
Due: prettier --write

feat: Add comprehensive WordPress payload testing tool
  .gitignore
  package.json
  scripts/job-data-tools.mts
  scripts/test-wordpress-payload.mts
  test/scripts/test-wordpress-payload.test.ts
Due: prettier --write

feat: Complete comprehensive file audit with enterprise JSDoc standards
  .github/workflows/ci.yml
  CLAUDE.md
  eslint.config.ts
  playwright.config.ts
  scripts/browse-job-data.mts
  scripts/codecov-cli.mts
  scripts/compare-job-data.mts
  scripts/coverage-report.mts
  scripts/inspect-test-data.mts
  scripts/job-data-tools.mts
  scripts/live-scraper.mts
  scripts/monitor-deployment.js
  scripts/monitor-deployment.mts
  scripts/test-wordpress-payload.mts
  scripts/validate-job-data.mts
  scripts/verify-config.mts
  src/lib/http-client.ts
  src/services/job-fetcher/fetch-operations.ts
  src/services/job-fetcher/job-normalizer.ts
  src/services/job-fetcher/telemetry.ts
  src/services/playwright-scraper.ts
  src/types/api.ts
  src/types/job.ts
  test/functions/health-check.test.ts
  test/functions/manual-trigger-integration.test.ts
  test/functions/manual-trigger.test.ts
  test/functions/sync-jobs.test.ts
  test/lib/job-fetch-utils.test.ts
  test/lib/logger.test.ts
  test/lib/utils.test.ts
  test/scripts/scrape-and-sync.test.ts
  test/scripts/test-wordpress-payload.test.ts
  test/services/html-parser.test.ts
  test/services/playwright-scraper.test.ts
  test/services/wordpress-client.test.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

fix: Resolve test timeout issues and update environment configuration
  scripts/job-data-tools.mts
  src/functions/manual-trigger.mts
  src/types/common.ts
  test/lib/http-client.test.ts
  test/shared/http-test-utils.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

test: Fix WordPress payload validation test and add mock setup for successful Playwright scraper tests
  test/scripts/test-wordpress-payload.test.ts
  test/services/playwright-scraper.test.ts
Due: none

test: Complete Playwright scraper test fixes for 100% pass rate
  test/services/playwright-scraper.test.ts
Due: none

feat: Complete config.ts audit and fix complexity warning
  src/services/playwright-scraper.ts
  src/types/config.ts
  test/services/playwright-scraper.test.ts
Due: eslint --fix, prettier --write

chore: Update .gitignore to exclude debug and test result files
  .gitignore
Due: none

fix: Remove non-existent test directories from CI matrix
  .github/workflows/ci.yml
Due: prettier --write

fix: Add missing WordPress payload test to CI matrix
  .github/workflows/ci.yml
Due: prettier --write

fix: Add mock environment variables for WordPress payload tests in CI
  .github/workflows/ci.yml
Due: prettier --write

fix: Add clearEnvironment() calls to config tests expecting missing env vars
  test/lib/config.test.ts
Due: none

fix: Explicitly clear CI environment variables in WordPress payload test
  test/scripts/test-wordpress-payload.test.ts
Due: none

fix: Use bracket notation for process.env property access
  test/scripts/test-wordpress-payload.test.ts
Due: none

fix: Properly delete process.env variables in config tests
  test/lib/config.test.ts
Due: none

fix: Improve environment variable validation to handle empty strings
  src/lib/config.ts
  test/lib/config.test.ts
Due: eslint --fix, prettier --write

fix: WordPress payload tests environment inheritance
  test/scripts/test-wordpress-payload.test.ts
Due: none

fix: Add missing DRIVEHR_COMPANY_ID to CI environment
  .github/workflows/ci.yml
Due: prettier --write

fix: Config tests now handle CI environment variable DRIVEHR_COMPANY_ID
  test/lib/config.test.ts
Due: none

fix: Clear all CI environment variables in WordPress payload error tests
  test/scripts/test-wordpress-payload.test.ts
Due: none

fix: Explicit environment variable inheritance for child processes in CI
  test/scripts/test-wordpress-payload.test.ts
Due: none

fix: Resolve TypeScript and ESLint issues in WordPress payload tests
  test/scripts/test-wordpress-payload.test.ts
Due: none

debug: Add detailed error logging to WordPress payload script for CI diagnostics
  scripts/test-wordpress-payload.mts
Due: none

refactor: Convert WordPress payload tests from child process to direct business logic testing
  scripts/test-wordpress-payload.mts
  test/scripts/test-wordpress-payload.test.ts
Due: none

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx}
  prettier --write: (any of: src/**/*.{ts,tsx}) or (any of: *.{json,md,yml,yaml})
