Repository zachatkinson/drivehr-netlify-sync: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(release): 1.7.8 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  4a776f8a2925b8ee6019118f67390041291536e6
Due: none

feat(scraper): preserve HTML formatting while normalizing job descriptions
  src/services/playwright-scraper.ts
Due: eslint --fix, prettier --write

feat(scraper): convert bold section titles to semantic H3 headings
  src/services/playwright-scraper.ts
Due: eslint --fix, prettier --write

chore(release): 1.8.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  2abdd6c7e6859d3b34ddbe847c077d43781989e0
Due: none

fix(scraper): generate stable job IDs based on title and location
  src/services/playwright-scraper.ts
Due: eslint --fix, prettier --write

chore(release): 1.8.1 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  22ce0786870e59e5cffacfc903e9802ec5fc6b7d
Due: none

feat(scraper): construct apply URLs from detail page pattern instead of scraping
  .gitignore
  src/services/playwright-scraper.ts
Due: eslint --fix, prettier --write

chore(release): 1.9.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  88b3ea61a8a74dcb93a27acaabdf549aae9fa692
Due: none

fix(scraper): change selector from button to div for Element UI collapse headers
  src/services/playwright-scraper.ts
Due: eslint --fix, prettier --write

chore(release): 1.9.1 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  543d77f711b287dee0ddf1624ba594d516a513bc
Due: none

feat(scraper): remove redundant company name suffix from job titles
  src/services/playwright-scraper.ts
Due: eslint --fix, prettier --write

chore(release): 1.10.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  23d1316e86efae71e89e7201bcf8df6588c54796
Due: none

chore: remove test file with hardcoded secret
  test-signature.mts
Due: none

fix(normalizer): sanitize HTML to remove non-standard attributes
  src/services/job-fetcher/job-normalizer.ts
  test/services/job-fetcher/integration.test.ts
Due: eslint --fix, prettier --write

fix(scraper): rewrite extraction for DriveHR's new AG Grid careers page layout
  .github/workflows/scrape-jobs.yml
  src/scripts/scrape-and-sync.ts
  src/services/playwright-scraper.ts
  test/scripts/scrape-and-sync.test.ts
  test/services/playwright-scraper.test.ts
Due: eslint --fix, prettier --write

fix(deps): update dependencies to resolve 165 audit vulnerabilities
  package.json
  pnpm-lock.yaml
  src/types/job.ts
  test/lib/telemetry.test.ts
Due: eslint --fix, prettier --write

fix(scraper): strip embedded style tags from job descriptions
  src/services/playwright-scraper.ts
Due: eslint --fix, prettier --write

feat(sync): migrate WordPress sync from push webhook to pull-based signed feed
  .github/workflows/scrape-jobs.yml
  .gitignore
  README.md
  src/scripts/scrape-and-sync.ts
  src/services/feed-publisher.ts
  test/scripts/scrape-and-sync.test.ts
  test/services/feed-publisher.test.ts
Due: eslint --fix, prettier --write

fix(security): require timestamp-bound webhook signatures and harden pipeline
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/scrape-jobs.yml
  netlify.toml
  package.json
  pnpm-lock.yaml
  src/functions/health-check.mts
  src/functions/manual-trigger.mts
  src/functions/sync-jobs.mts
  src/lib/env.ts
  src/lib/html-sanitizer.ts
  src/lib/utils.ts
  src/scripts/scrape-and-sync.ts
  src/services/wordpress-client.ts
  test/functions/manual-trigger-integration.test.ts
  test/functions/manual-trigger.test.ts
  test/functions/sync-jobs.test.ts
  test/lib/config.test.ts
  test/lib/html-sanitizer.test.ts
  test/lib/telemetry.test.ts
  test/lib/utils.test.ts
  test/scripts/scrape-and-sync.test.ts
  test/services/job-fetcher/shared-test-utils.ts
  test/services/playwright-scraper.test.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

chore(release): 1.10.1 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  b9ab24637370668dd6abd8d9ce22ddce5da240bb
Due: none

fix(ci): migrate CodeQL to v4 and resolve open code scanning alerts
  .github/workflows/ci.yml
  scripts/coverage-report.mts
  test/shared/base-test-utils.ts
Due: prettier --write

fix(ci): bump upload-artifact and dependency-review-action to Node 24 releases
  .github/workflows/ci.yml
Due: prettier --write

chore(release): 1.10.2 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  47104421efcdab5a9841791a1fca52f3382e1bff
Due: none

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx}
  prettier --write: (any of: src/**/*.{ts,tsx}) or (any of: *.{json,md,yml,yaml})
