Repository zachatkinson/drivehr-netlify-sync: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.{ts,tsx}": ["eslint --fix", "prettier --write", "git add"],
  "*.{json,md,yml,yaml}": ["prettier --write", "git add"]
}

feat: Complete comprehensive JSDoc audit for all lib files
  src/lib/config.ts
  src/lib/env.ts
  src/lib/http-client.ts
  src/lib/job-fetch-utils.ts
  src/lib/logger.ts
  src/lib/performance-monitor.ts
  src/lib/telemetry-init.ts
  src/lib/telemetry-strategy.ts
  src/lib/telemetry.ts
  src/lib/utils.ts
  src/types/job.ts
Due: eslint --fix, prettier --write

docs: Complete CLAUDE.md JSDoc audit for all src/services files
  src/services/html-parser.ts
  src/services/playwright-scraper.ts
  src/services/wordpress-client.ts
Due: eslint --fix, prettier --write

docs(job-fetcher): Complete comprehensive JSDoc audit of job-fetcher framework
  src/services/job-fetcher/fetch-operations.ts
  src/services/job-fetcher/html-strategy.ts
  src/services/job-fetcher/index.ts
  src/services/job-fetcher/job-fetch-service.ts
  src/services/job-fetcher/job-normalizer.ts
  src/services/job-fetcher/telemetry.ts
  src/services/job-fetcher/types.ts
Due: eslint --fix, prettier --write

docs(functions): Complete comprehensive JSDoc audit of Netlify functions
  src/functions/health-check.mts
  src/functions/manual-trigger.mts
  src/functions/sync-jobs.mts
Due: none

feat: Add comprehensive JSDoc to scripts directory
  src/scripts/scrape-and-sync.ts
Due: eslint --fix, prettier --write

Complete test/functions JSDoc audit
  test/functions/health-check.test.ts
  test/functions/manual-trigger-integration.test.ts
  test/functions/manual-trigger.test.ts
  test/functions/sync-jobs.test.ts
Due: none

docs: Complete comprehensive test/lib directory JSDoc audit
  test/lib/config.test.ts
  test/lib/env.test.ts
  test/lib/http-client.test.ts
  test/lib/job-fetch-utils.test.ts
  test/lib/logger.test.ts
  test/lib/performance-monitor.test.ts
  test/lib/telemetry-init.test.ts
  test/lib/telemetry.test.ts
  test/lib/utils.test.ts
Due: none

docs: Complete comprehensive test/scripts directory JSDoc audit
  test/scripts/scrape-and-sync.test.ts
  test/scripts/test-wordpress-payload.test.ts.bak
Due: none

docs: Complete comprehensive test/services/job-fetcher directory JSDoc audit
  test/scripts/test-wordpress-payload.test.ts.bak
  test/services/job-fetcher/html-strategy.test.ts
  test/services/job-fetcher/index.test.ts
  test/services/job-fetcher/integration.test.ts
  test/services/job-fetcher/job-fetch-service.test.ts
  test/services/job-fetcher/shared-test-utils.ts
Due: none

docs: Complete comprehensive WordPress client test suite JSDoc audit
  test/services/wordpress-client.test.ts
Due: none

fix(tests): Complete test/services CLAUDE.md audit with implementation alignment
  test/services/html-parser.test.ts
  test/services/playwright-scraper.test.ts
  test/services/playwright-scraper.test.ts.bak
Due: none

docs(tests): Complete test/shared CLAUDE.md audit with enterprise JSDoc standards
  test/shared/base-test-utils.ts.bak
  test/shared/http-test-utils.ts
Due: none

feat(compliance): Complete comprehensive eslint-disable CLAUDE.md compliance audit
  eslint.config.ts
  src/lib/performance-monitor.ts
  test/lib/logger.test.ts
  test/lib/performance-monitor.test.ts
  test/services/html-parser.test.ts
  test/services/playwright-scraper.test.ts
  test/services/wordpress-client.test.ts
  test/shared/base-test-utils.ts.bak
Due: eslint --fix, prettier --write

feat(ci): Implement enterprise-grade CI with smart test selection and enhanced security
  .github/workflows/ci-original.yml
  .github/workflows/ci.yml
  CLAUDE.md
  package.json
Due: prettier --write

fix(ci): Fix JSON formatting and consolidate to single CI pipeline
  .github/workflows/ci-original.yml
  .github/workflows/ci.yml
Due: prettier --write

fix(ci): Resolve GitHub Actions JSON formatting with single-line approach
  .github/workflows/ci.yml
Due: prettier --write

docs: Complete comprehensive enterprise documentation suite
  ARCHITECTURE.md
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  DEPLOYMENT.md
  README.md
  SECURITY.md
  SUPPORT.md
  codecov-debug/aggregated-coverage/merged.info
  codecov-debug/coverage-summary.md
  docs/api-specification.yaml
  docs/deployment-runbook.md
Due: prettier --write

chore: Remove .bak files and add to .gitignore
  .gitignore
  test/services/playwright-scraper.test.ts.bak
Due: none

test: Add comprehensive Playwright scraper test suite
  CHANGELOG.md
  CLAUDE.md
  test/services/playwright-scraper.test.ts
Due: prettier --write

feat: implement enterprise-grade semantic versioning and automated releases
  .github/workflows/ci.yml
  .releaserc.json
  CHANGELOG.md
  CLAUDE.md
  README.md
  package.json
  pnpm-lock.yaml
  src/functions/health-check.mts
  src/functions/manual-trigger.mts
  src/functions/sync-jobs.mts
  src/scripts/scrape-and-sync.ts
  test/functions/health-check.test.ts
  test/functions/manual-trigger-integration.test.ts
  test/functions/manual-trigger.test.ts
  test/functions/sync-jobs.test.ts
  test/scripts/scrape-and-sync.test.ts
Due: eslint --fix, prettier --write

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  38cc530acef64371fea71410ea84681fe7e38820
Due: none

fix(docs): update Netlify badge with correct site ID
  README.md
Due: prettier --write

chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  b19b92fa54dace9f0b4ebef1ebfef6da1a7b7867
Due: none

docs: clean up documentation and remove inappropriate badges
  CHANGELOG.md
  README.md
Due: prettier --write

feat(tests): boost Playwright scraper test coverage from 15.11% to 44.06%
  test/services/playwright-scraper.test.ts
Due: none

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  37bddedd56a8c457a762f89d5b1eca5124a7f563
Due: none

feat(tests): boost telemetry system coverage from 35.48% to 94.47%
  test/lib/telemetry.test.ts
Due: none

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  c1d38940da478c949d56bf6b719927d668247182
Due: none

feat(tests): add comprehensive job fetcher service error path tests
  CLAUDE.md
  test/services/job-fetcher/job-fetch-service.test.ts
Due: prettier --write

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  784f37d6e9b47cb3e0004ba814518b6485bbbc6d
Due: none

feat(tests): add comprehensive performance monitor implementation tests
  CLAUDE.md
  test/lib/performance-monitor.test.ts
Due: prettier --write

style: fix trailing whitespace in performance monitor test
  test/lib/performance-monitor.test.ts
Due: none

chore(release): 1.4.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  430d0290827a4acf6726a317d3787e728424b4ef
Due: none

feat(tests): boost Playwright scraper coverage with targeted implementation tests
  test/services/playwright-scraper.test.ts
Due: none
