Repository zachatkinson/drivehr-netlify-sync: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.{ts,tsx}": ["eslint --fix", "prettier --write", "git add"],
  "*.{json,md,yml,yaml}": ["prettier --write", "git add"]
}

Add comprehensive logger test suite with DRY utilities
  test/lib/logger.test.ts
Due: none

Add Logger test suite to CI matrix
  .github/workflows/ci.yml
Due: prettier --write

Add comprehensive utils test suite with DRY utilities
  .github/workflows/ci.yml
  test/lib/utils.test.ts
Due: prettier --write

Fix formatting issues in utils test file
  test/lib/utils.test.ts
Due: none

feat: add comprehensive job fetch utils test suite using DRY principles
  .github/workflows/ci.yml
  test/lib/job-fetch-utils.test.ts
Due: prettier --write

fix: correct formatting in job-fetch-utils test comments
  test/lib/job-fetch-utils.test.ts
Due: none

Add comprehensive test suites for HTML parser and WordPress client
  .github/workflows/ci.yml
  test/services/html-parser.test.ts
  test/services/job-fetcher.test.ts
  test/services/wordpress-client.test.ts
Due: prettier --write

feat: complete comprehensive Netlify function test suite with DRY principles
  .github/workflows/ci.yml
  test/functions/sync-jobs.test.ts
  test/services/html-parser.test.ts
  test/services/job-fetcher.test.ts
  test/services/wordpress-client.test.ts
Due: prettier --write

fix: correct CI health check to use deployment URL from job output
  .github/workflows/ci.yml
Due: prettier --write

fix: use production URL instead of deploy preview URL for health checks
  .github/workflows/ci.yml
Due: prettier --write

refactor: rename DRIVEHRIS_COMPANY_ID to DRIVEHR_COMPANY_ID for consistency
  .env.example
  .github/workflows/ci.yml
  src/lib/config.ts
  src/lib/env.ts
  src/types/common.ts
  src/types/config.ts
  test/lib/config.test.ts
  test/lib/env.test.ts
  test/shared/base-test-utils.ts
Due: eslint --fix, prettier --write

refactor: standardize naming from 'drivehris' to 'drivehr' throughout codebase
  .env.example
  CLAUDE.md
  package.json
  src/functions/sync-jobs.ts
  src/lib/config.ts
  src/lib/env.ts
  src/lib/job-fetch-utils.ts
  src/services/job-fetcher.ts
  src/types/api.ts
  src/types/common.ts
  src/types/config.ts
  src/types/job.ts
  test/functions/sync-jobs.test.ts
  test/lib/config.test.ts
  test/lib/env.test.ts
  test/lib/job-fetch-utils.test.ts
  test/services/job-fetcher.test.ts
  test/shared/base-test-utils.ts
Due: eslint --fix, prettier --write

fix: update test assertion to use correct environment variable name
  test/lib/config.test.ts
Due: none

fix: correct functions directory path in netlify.toml
  netlify.toml
Due: none

fix: simplify netlify.toml configuration for correct functions path
  netlify.dist.toml
Due: none

fix: include services directory in build for Netlify function deployment
  package.json
Due: prettier --write

feat: migrate to modern Netlify Functions API with web standard Request/Response
  eslint.config.ts
  netlify.dist.toml
  package.json
  src/functions/sync-jobs.mts
  test/functions/sync-jobs.test.ts
  tsconfig.json
Due: prettier --write

fix: update CI build verification to expect .mjs files from modern TypeScript compilation
  .github/workflows/ci.yml
Due: prettier --write

feat: implement hybrid CI/CD approach with GitHub Actions and Netlify
  .github/workflows/ci.yml
  netlify.toml
  package.json
Due: prettier --write

fix: update CI build verification to check netlify.toml in root directory
  .github/workflows/ci.yml
Due: prettier --write

fix: update .env.example to use clear placeholder values to avoid Netlify secret scanning false positives
  .env.example
Due: none

fix: exclude TypeScript declaration files from Netlify functions directory
  package.json
Due: prettier --write

chore: trigger Netlify rebuild to pick up environment variables
  README.md
Due: prettier --write

fix: remove vestigial WP_AUTH_TOKEN requirement from environment config
  evar.pdf
  package.json
  src/lib/config.ts
  src/lib/env.ts
  src/services/wordpress-client.ts
  src/types/api.ts
  src/types/common.ts
  test/lib/config.test.ts
  test/lib/env.test.ts
  test/shared/base-test-utils.ts
Due: eslint --fix, prettier --write

fix: remove vestigial WP_AUTH_TOKEN test case
  test/lib/env.test.ts
Due: none

chore: trigger Netlify rebuild to deploy updated function
  README.md
Due: prettier --write

chore: trigger deployment with configured environment variables
  README.md
  evar.pdf
  netlify.pdf
Due: prettier --write

debug: add comprehensive debug logging to track 500 error
  src/functions/sync-jobs.mts
Due: none

debug: add minimal test function to isolate deployment issue
  src/functions/test.mts
Due: none

Add test-import function to debug import resolution issues
  src/functions/test-import.mts
Due: none

Add test-config function to isolate configuration import issues
  src/functions/test-config.mts
Due: none

Add test-services function to isolate services import issues
  src/functions/test-services.mts
Due: none

Add test-init function to debug initialization logic
  src/functions/test-init.mts
Due: none

Add test-full-init function to test complete service instantiation
  src/functions/test-full-init.mts
Due: none

Fix HTML parsing 'body used already' error in job fetcher
  .gitignore
  src/functions/diagnostic.mts
  src/services/job-fetcher.ts
Due: eslint --fix, prettier --write

Remove non-functional job fetching strategies
  src/lib/job-fetch-utils.ts
  src/services/job-fetcher.ts
  test/lib/job-fetch-utils.test.ts
  test/services/job-fetcher.test.ts
Due: eslint --fix, prettier --write

feat: Modernize architecture with GitHub Actions scraping and comprehensive code cleanup
  .env.example
  .github/workflows/scrape-jobs.yml
  netlify.toml
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  src/functions/health-check.mts
  src/functions/manual-trigger.mts
  src/functions/sync-jobs.mts
  src/scripts/scrape-and-sync.ts
  src/services/playwright-scraper.ts
  src/types/common.ts
  src/types/job.ts
  test/functions/health-check.test.ts
  test/functions/manual-trigger.test.ts
  test/functions/sync-jobs.test.ts
  test/functions/webhook-receiver.test.ts
  test/services/playwright-scraper.test.ts
  tsconfig.json
Due: eslint --fix, prettier --write

docs: Add comprehensive README and ARCHITECTURE documentation
  ARCHITECTURE.md
  README.md
Due: prettier --write

fix: Optimize build configuration for Netlify deployment
  package.json
  src/functions/diagnostic.mts
  src/functions/test-config.mts
  src/functions/test-full-init.mts
  src/functions/test-import.mts
  src/functions/test-init.mts
  src/functions/test-services.mts
  src/functions/test.mts
  tsconfig.build.json
Due: prettier --write

feat: Add comprehensive deployment documentation and verification tools
  DEPLOYMENT.md
  package.json
  scripts/verify-config.js
Due: prettier --write
