Repository zachatkinson/drivehr-netlify-sync: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: Resolve Netlify deployment issues and correct webhook documentation
  DEPLOYMENT.md
  package.json
  tsconfig.build.json
Due: prettier --write

feat: Complete comprehensive code cleanup and add deployment monitoring
  package.json
  scripts/monitor-deployment.js
Due: prettier --write

feat: Add comprehensive integration and unit tests to significantly improve test coverage
  test/functions/manual-trigger-integration.test.ts
  test/scripts/scrape-and-sync.test.ts
Due: none

feat: Fix test integration issues and improve code quality
  test/functions/manual-trigger-integration.test.ts
  test/scripts/scrape-and-sync.test.ts
Due: none

fix: Resolve integration test failures and improve mock Response implementation
  src/functions/manual-trigger.mts
  test/functions/manual-trigger-integration.test.ts
  test/scripts/scrape-and-sync.test.ts
Due: none

fix: Resolve TypeScript index signature errors in CI environment
  test/functions/manual-trigger-integration.test.ts
Due: none

feat: Add comprehensive job data inspection and analysis toolkit
  package.json
  scripts/browse-job-data.mts
  scripts/codecov-cli.mts
  scripts/compare-job-data.mts
  scripts/coverage-report.mts
  scripts/inspect-test-data.mts
  scripts/job-data-tools.mts
  scripts/live-scraper.mts
  scripts/validate-job-data.mts
Due: prettier --write

fix: Exclude Netlify build artifacts from coverage calculation
  vitest.config.ts
Due: none

test: Add comprehensive PlaywrightScraper test coverage with 42 test cases
  test/services/playwright-scraper.test.ts
Due: none

ci: Add all missing test files to CI matrix for comprehensive coverage
  .github/workflows/ci.yml
Due: prettier --write

refactor: Remove vestigial webhook-receiver test and optimize coverage configuration
  .github/workflows/ci.yml
  test/functions/webhook-receiver.test.ts
  vitest.config.ts
Due: prettier --write

fix: Improve scrape-and-sync script test coverage by testing actual function
  test/scripts/scrape-and-sync.test.ts
Due: none

feat: Enhance scrape-and-sync test coverage to 84.41% with comprehensive edge case testing
  test/scripts/scrape-and-sync.test.ts
Due: none

docs: Achieve 100% CLAUDE.md compliance with enhanced JSDoc and ESLint justifications
  src/lib/logger.ts
  src/lib/utils.ts
  src/services/playwright-scraper.ts
  test/services/html-parser.test.ts
  test/services/playwright-scraper.test.ts
Due: eslint --fix, prettier --write

docs: Complete comprehensive JSDoc compliance audit and enhance test coverage for config.ts
  netlify.pdf
  src/lib/http-client.ts
  src/scripts/scrape-and-sync.ts
  src/types/config.ts
  test/lib/config.test.ts
Due: eslint --fix, prettier --write

feat: Enhance playwright-scraper test coverage with strategic unit tests and comprehensive JSDoc
  test/services/playwright-scraper.test.ts
Due: none

feat: Add comprehensive easy-win test cases for playwright-scraper.ts coverage improvement
  test/services/playwright-scraper.test.ts
Due: none

chore: Clean up temporary coverage files and ensure latest CI validation
  coverage-cli/app.js
  coverage-cli/app.js.LICENSE.txt
  coverage-cli/icon-16x16.png
  coverage-cli/icon-32x32.png
  coverage-cli/icon-48x48.png
  coverage-cli/index.html
  coverage-cli/licenses.txt
  coverage-cli/report-data.js
  lcov-viewer/app.js
  lcov-viewer/app.js.LICENSE.txt
  lcov-viewer/icon-16x16.png
  lcov-viewer/icon-32x32.png
  lcov-viewer/icon-48x48.png
  lcov-viewer/index.html
  lcov-viewer/licenses.txt
  lcov-viewer/report-data.js
Due: none

feat: Complete comprehensive CLAUDE.md compliance audit with zero technical debt
  .gitignore
  coverage-cli/app.js
  coverage-cli/app.js.LICENSE.txt
  coverage-cli/icon-16x16.png
  coverage-cli/icon-32x32.png
  coverage-cli/icon-48x48.png
  coverage-cli/index.html
  coverage-cli/licenses.txt
  coverage-cli/report-data.js
  lcov-viewer/app.js
  lcov-viewer/app.js.LICENSE.txt
  lcov-viewer/icon-16x16.png
  lcov-viewer/icon-32x32.png
  lcov-viewer/icon-48x48.png
  lcov-viewer/index.html
  lcov-viewer/licenses.txt
  lcov-viewer/report-data.js
  package.json
  pnpm-lock.yaml
  scripts/compare-job-data.mts
  scripts/validate-job-data.mts
  src/lib/http-client.ts
  src/services/playwright-scraper.ts
  src/types/common.ts
  test/lib/http-client.test.ts
  test/lib/logger.test.ts
  test/services/html-parser.test.ts
  test/services/playwright-scraper.test.ts
  test/services/wordpress-client.test.ts
  test/shared/base-test-utils.ts
  test/shared/http-test-utils.ts
Due: eslint --fix, prettier --write

fix: Resolve CI linting failures by correcting eslint-disable comment positioning
  test/lib/logger.test.ts
  test/services/html-parser.test.ts
  test/services/wordpress-client.test.ts
  test/shared/http-test-utils.ts
Due: none

fix: Standardize CI configuration with consistent Node 20 and pnpm usage
  .github/workflows/scrape-jobs.yml
Due: prettier --write

feat: Complete enterprise enhancement suite with performance monitoring and documentation
  .env.example
  docs/api-specification.yaml
  docs/deployment-runbook.md
  package.json
  pnpm-lock.yaml
  src/functions/sync-jobs.mts
  src/lib/performance-monitor.ts
  src/types/common.ts
  test/functions/sync-jobs.test.ts
Due: eslint --fix, prettier --write

feat: Complete enterprise-grade enhancements and WordPress REST API cleanup
  .github/workflows/scrape-jobs.yml
  ARCHITECTURE.md
  CLAUDE.md
  DEPLOYMENT.md
  docs/api-specification.yaml
  docs/deployment-runbook.md
  package.json
  pnpm-lock.yaml
  src/functions/health-check.mts
  src/functions/manual-trigger.mts
  src/lib/config.ts
  src/lib/telemetry-init.ts
  src/lib/telemetry.ts
  src/scripts/scrape-and-sync.ts
  src/services/job-fetcher.ts
  src/services/playwright-scraper.ts
  src/services/wordpress-client.ts
  src/types/api.ts
  src/types/common.ts
  src/types/config.ts
  src/types/job.ts
  test/functions/manual-trigger-integration.test.ts
  test/functions/manual-trigger.test.ts
  test/lib/config.test.ts
  test/lib/env.test.ts
  test/services/wordpress-client.test.ts
  test/shared/base-test-utils.ts
  tsconfig.json
Due: eslint --fix, prettier --write

chore: Add CI and coverage badges to README for enhanced visibility
  README.md
Due: prettier --write

feat: Add comprehensive enterprise-grade test coverage for telemetry modules
  test/lib/performance-monitor.test.ts
  test/lib/telemetry-init.test.ts
  test/lib/telemetry.test.ts
Due: none

ci: Add telemetry test files to CI matrix for Codecov coverage
  .github/workflows/ci.yml
Due: prettier --write

fix: Replace complex telemetry test mocking with simplified API validation
  test/lib/telemetry.test.ts
Due: none

fix: Replace complex telemetry-init test mocking with simplified API validation
  test/lib/telemetry-init.test.ts
Due: none

feat: Add comprehensive easy-win test coverage for telemetry modules
  test/lib/performance-monitor.test.ts
  test/lib/telemetry-init.test.ts
  test/lib/telemetry.test.ts
Due: none

docs: Update test coverage standards to align with enterprise industry benchmarks
  CLAUDE.md
Due: prettier --write

refactor: Remove unused RateLimitConfig interface
  src/types/api.ts
Due: eslint --fix, prettier --write

refactor: Remove legacy fields and fix mislabeled configuration
  .env.example
  src/lib/config.ts
  src/types/config.ts
  test/lib/config.test.ts
Due: eslint --fix, prettier --write

feat: Implement enterprise Strategy and Template Method patterns to resolve complexity warnings
  src/lib/telemetry-init.ts
  src/services/job-fetcher.ts
  src/services/wordpress-client.ts
  test/services/wordpress-client.test.ts
Due: eslint --fix, prettier --write

feat: Add coverage artifacts and aggregation to CI pipeline
  .github/workflows/ci.yml
Due: prettier --write

feat: Add telemetry code path coverage test to boost WordPress client coverage
  test/services/wordpress-client.test.ts
Due: none

chore: Add artifact comparison test trigger
  .github/workflows/ci.yml
Due: prettier --write

feat: Fix CI coverage aggregation to properly merge LCOV data from all test suites
  .github/workflows/ci.yml
Due: prettier --write

fix: Add error handling for missing coverage files in CI aggregation
  .github/workflows/ci.yml
Due: prettier --write

refactor: Simplify coverage artifacts to follow GitHub Actions best practices
  .github/workflows/ci.yml
Due: prettier --write

fix: Use hyphens instead of spaces in CI artifact names for URL-safe naming
  .github/workflows/ci.yml
Due: prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx}
  prettier --write: (any of: src/**/*.{ts,tsx}) or (any of: *.{json,md,yml,yaml})
