Repository zachatkinson/drivehr-netlify-sync: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: resolve linting/formatting issues in playwright-scraper tests
  test/services/playwright-scraper.test.ts
Due: none

chore(release): 1.5.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  ead77289f736a63d837b90f5542537d953e8a68a
Due: none

feat(tests): boost Playwright scraper coverage to 46.16% and remove vestigial API code
  scripts/test-wordpress-payload.mts
  src/scripts/scrape-and-sync.ts
  src/types/api.ts
  test/services/playwright-scraper.test.ts
Due: eslint --fix, prettier --write

fix: Remove remaining apiBaseUrl references from test files
  test/lib/job-fetch-utils.test.ts
  test/services/job-fetcher/html-strategy.test.ts
  test/services/job-fetcher/job-fetch-service.test.ts
  test/services/job-fetcher/shared-test-utils.ts
Due: none

fix: Fix failing Playwright scraper tests
  src/services/playwright-scraper.ts
  test/services/playwright-scraper.test.ts
Due: eslint --fix, prettier --write

chore(release): 1.6.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  42de2595d46ce7932d1820a56c55eee3aed75dfd
Due: none

fix: Properly fix screenshot path test instead of skipping
  test/services/playwright-scraper.test.ts
Due: none

chore(release): 1.6.1 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  f1ddc323846e197de84f656f30ee2f55f46ea788
Due: none

feat: Add intelligent CI + Codecov integration with carryforward flags
  .codecov.yml
  .github/workflows/ci.yml
  DEPLOYMENT.md
  SUPPORT.md
Due: prettier --write

chore(release): 1.7.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  ec9b735d6e02774f99c5d31bf58456f9fed8172e
Due: none

docs: Add mandatory Git Flow rules to development standards
  CLAUDE.md
Due: prettier --write

fix: Update README badges to show current coverage and version
  README.md
Due: prettier --write

chore(release): 1.7.1 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  ac413b3f8543b9cc312931b70ffe3abbb4c9f8d3
Due: none

Create LICENSE
  LICENSE
Due: none

fix(deps): resolve moderate security vulnerabilities in Playwright
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(release): 1.7.2 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  191364328805b34a7bd80d51eb804b4db730c01d
Due: none

fix(ci): add TypeScript build step to scrape-jobs workflow
  .github/workflows/scrape-jobs.yml
Due: prettier --write

chore(release): 1.7.3 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  2e505a7e09ebc5d3e31ee7ab1f77fbfbe5737f4d
Due: none

fix(ci): correct script extension from .mjs to .js
  package.json
Due: prettier --write

chore(release): 1.7.4 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  4ae7e2f25ca73b7c9759c48bff64ad37c1348521
Due: none

fix(webhook): resolve HMAC signature mismatch causing 401 errors
  src/lib/http-client.ts
  src/services/wordpress-client.ts
  test/lib/http-client.test.ts
  test/services/wordpress-client.test.ts
Due: eslint --fix, prettier --write

fix(tests): resolve TypeScript error in mock type assertion
  test/services/wordpress-client.test.ts
Due: none

chore(release): 1.7.5 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  1db3292ed6236f6b874e85146307d298bd46c410
Due: none

fix(webhook): add missing X-Webhook-Timestamp header required by WordPress plugin
  src/services/wordpress-client.ts
Due: eslint --fix, prettier --write

chore(release): 1.7.6 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  b02d7d8b0efe25a18ce19842c7f397469e6cb3e1
Due: none

debug: add detailed webhook request logging for signature troubleshooting
  src/services/wordpress-client.ts
  test-signature.mts
Due: eslint --fix, prettier --write

fix(webhook): add X-Webhook-Timestamp to scrape-and-sync direct fetch
  src/scripts/scrape-and-sync.ts
Due: eslint --fix, prettier --write

chore(release): 1.7.7 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  231e638d8f7129f0b6af6ec5d6498d04f4cb4aa1
Due: none

fix(scraper): extract clean job description from iframe instead of metadata
  src/services/playwright-scraper.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx}
  prettier --write: (any of: src/**/*.{ts,tsx}) or (any of: *.{json,md,yml,yaml})
