Repository zachatkinson/drivehr-netlify-sync: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.{ts,tsx}": ["eslint --fix", "prettier --write", "git add"],
  "*.{json,md,yml,yaml}": ["prettier --write", "git add"]
}

fix: update husky pre-commit hook to modern format
  .husky/pre-commit
Due: none

fix: remove unnecessary git add from lint-staged config
  .lintstagedrc.json
Due: prettier --write

fix: correct pnpm setup order in CI/CD pipeline
  .github/workflows/ci.yml
Due: prettier --write

fix: update CI to use pnpm v10 and allow lockfile updates
  .github/workflows/ci.yml
Due: prettier --write

fix: make CI scripts graceful when no source files exist
  .github/workflows/ci.yml
  package.json
Due: prettier --write

fix: remove pnpm version from CI config
  .github/workflows/ci.yml
Due: prettier --write

refactor: replace Snyk with free security tools
  .github/workflows/ci.yml
Due: prettier --write

feat: add basic TypeScript types and test files to enable full CI
  .github/workflows/ci.yml
  eslint.config.ts
  src/types/common.ts
  tests/setup.test.ts
Due: eslint --fix, prettier --write

fix: correct pnpm setup order in test matrix jobs
  .github/workflows/ci.yml
Due: prettier --write

fix: add missing @vitest/coverage-v8 dependency
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: add Codecov token to enable coverage reporting
  .github/workflows/ci.yml
Due: prettier --write

feat: implement secure Netlify function with environment utilities
  package.json
  pnpm-lock.yaml
  src/functions/sync-jobs.ts
  src/lib/env.ts
Due: eslint --fix, prettier --write

fix: correct build output path for Netlify functions
  package.json
Due: prettier --write

feat: enhance CI/CD with enterprise-grade security and performance features
  .github/workflows/ci.yml
Due: prettier --write

fix: modernize GitHub Actions to eliminate deprecated set-output warnings
  .github/workflows/ci.yml
Due: prettier --write

fix: correct netlify.toml edge_functions configuration syntax
  netlify.toml
Due: none

feat: add Codecov Test Analytics with comprehensive test intelligence
  .github/workflows/ci.yml
  .gitignore
  vitest.config.ts
Due: prettier --write

fix: resolve module import paths for Netlify function deployment
  package.json
Due: prettier --write

fix: skip redundant Netlify build process in favor of CI pre-built files
  netlify.toml
Due: none

fix: clean build output to prevent Netlify deployment conflicts
  package.json
Due: prettier --write

revert: return to proven netlify/actions/cli@master deployment method
  .github/workflows/ci.yml
Due: prettier --write

feat: implement official Netlify CLI deployment method per documentation
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: disable Netlify build processing for pre-built functions
  netlify.toml
Due: none

fix: specify functions directory explicitly in Netlify CLI
  .github/workflows/ci.yml
Due: prettier --write

debug: add comprehensive Netlify deployment diagnostics
  .github/workflows/ci.yml
Due: prettier --write

fix: bypass Netlify UI build settings with skip-functions-cache
  .github/workflows/ci.yml
Due: prettier --write

test: simplify deployment to basic CLI command
  .github/workflows/ci.yml
Due: prettier --write

Fix deployment to use pnpm exec instead of npx
  .github/workflows/ci.yml
Due: prettier --write

Add comprehensive debug logging for Netlify deployment
  .github/workflows/ci.yml
  netlify.toml
Due: prettier --write

Fix invalid --build=false flag in Netlify deployment
  .github/workflows/ci.yml
Due: prettier --write

Fix netlify.toml paths and remove redundant CLI flags
  .github/workflows/ci.yml
  netlify.toml
Due: prettier --write

Clean codebase: format, typecheck, and lint fixes
  .env.example
  CLAUDE.md
  eslint.config.ts
  package.json
  pnpm-lock.yaml
  src/functions/sync-jobs.ts
  src/lib/config.ts
  src/lib/env.ts
  src/lib/http-client.ts
  src/lib/job-fetch-utils.ts
  src/lib/logger.ts
  src/lib/utils.ts
  src/services/html-parser.ts
  src/services/job-fetcher.ts
  src/services/wordpress-client.ts
  src/types/api.ts
  src/types/common.ts
  src/types/config.ts
  src/types/job.ts
  test/lib/config.test.ts
  test/lib/env.test.ts
  test/lib/http-client.test.ts
  test/shared/base-test-utils.ts
  test/shared/http-test-utils.ts
  tests/setup.test.ts
  tsconfig.json
  typedoc.json
  vitest.config.ts
Due: eslint --fix, prettier --write

Simplify package.json scripts and fix TypeScript config support
  eslint.config.ts
  package.json
  pnpm-lock.yaml
  prettier.config.ts
Due: prettier --write

Fix CI compatibility by using standard .prettierrc configuration
  .prettierrc
  prettier.config.ts
Due: none

Improve CI test matrix visibility with individual test suites
  .github/workflows/ci.yml
Due: prettier --write

Simplify CI matrix to use only Node.js 20
  .github/workflows/ci.yml
Due: prettier --write

Fix HTTP client test failures by resolving mock assertion issues
  src/lib/http-client.ts
  test/shared/http-test-utils.ts
Due: eslint --fix, prettier --write

Clean up CI matrix naming to follow professional standards
  .github/workflows/ci.yml
Due: prettier --write

Remove redundant 'Tests' prefix from CI matrix job names
  .github/workflows/ci.yml
Due: prettier --write
